:root{
    --pale-Blue: hsl(243, 100%, 93%);
    --grayish-Blue: hsl(229, 7%, 55%);
    --dark-Blue: hsl(228, 56%, 26%);
    --very-Dark-Blue: hsl(229, 57%, 11%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Raleway', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bg-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
